<form
  [formGroup]="dialogForm"
  novalidate
  (ngSubmit)="onSubmit()"
  class="mat-typography"
>
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          id="user-firstname"
          required
        />
        @if (dialogForm.hasError('required', 'firstName')) {
          <mat-error> This is required </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          id="user-lastname"
          required
        />
        @if (dialogForm.hasError('required', 'lastName')) {
          <mat-error> This is required </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          id="user-email"
          required
        />
        @if (dialogForm.hasError('required', 'email')) {
          <mat-error> This is required </mat-error>
        }
        @if (dialogForm.hasError('email', 'email')) {
          <mat-error> Invalid Email </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          id="user-username"
          required
        />
        @if (dialogForm.hasError('required', 'username')) {
          <mat-error> This is required </mat-error>
        }
      </mat-form-field>
      @if (!isEdit) {
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="new-password"
            id="user-password"
            required
          />
          @if (dialogForm.hasError('required', 'password')) {
            <mat-error> This is required </mat-error>
          }
        </mat-form-field>
      }
      @if (!isEdit) {
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            autocomplete="new-password"
            [errorStateMatcher]="passwordErrorMatcher"
            id="user-confirm-password"
            required
          />
          @if (dialogForm.hasError('required', 'confirmPassword')) {
            <mat-error> This is required </mat-error>
          }
          @if (
            !dialogForm.hasError('required', 'confirmPassword') &&
            dialogForm.hasError('passwordMatch')
          ) {
            <mat-error> Passwords must match </mat-error>
          }
        </mat-form-field>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close id="user-cancel-button">Cancel</button>
    <button
      mat-button
      type="submit"
      [disabled]="isSaving || dialogForm.invalid"
      id="user-save-button"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
