replicaCount: 1

image:
  repository: coveros/codeveros-ui
  pullPolicy: Always
  tag: ""

nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

service:
  type: ClusterIP
  port: 80
  nodePort:

config:
  enabled: false
  data: {}

apiUrl: api/
