openapi: 3.0.0
info:
  version: 0.0.1
  title: CODEveros Training Service
  license:
    name: ISC
paths:
  /api/training:
    get:
      summary: Return all training sessions
      operationId': listTrainingSessions
      tags:
        - training
      responses:
        200:
          description: An array of training sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSessions'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new training session
      operationId: createTrainingSession
      tags:
        - training
      requestBody:
        description: Training to add to CODEveros
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTrainingSession'
      responses:
        200:
          description: The created training session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSession'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/ValidationError'
  /api/training/{id}:
    get:
      summary: Return a single training session based on ID
      operationId: getTrainingSession
      tags:
        - training
      parameters:
        - name: id
          in: path
          description: ID of training session to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSession'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing training session based on ID
      operationId: updateTrainingSession
      tags:
        - training
      parameters:
        - name: id
          in: path
          description: ID of the training session to update
          required: true
          schema:
            type: string
      requestBody:
        description: Training fields to update
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Updated name of the training
                  type: string
                description:
                  description: Updated description of the training
                  type: string
                duration:
                  description: Updated duration of the training
                  type: integer
                type:
                  description: Updated type of the training
                  type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSession'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/ValidationError'
    delete:
      summary: Delete an existing training session based on ID
      operationId: deleteTrainingSession
      tags:
        - training
      parameters:
        - name: id
          in: path
          description: ID of training session to delete
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSession'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/ValidationError'

components:
  schemas:
    NewTrainingSession:
      type: object
      required:
        - name
        - description
        - duration
        - type
      properties:
        name:
          type: string
        description:
          type: string
        duration:
          type: integer
          minimum: 1
          maximum: 5
        type:
          type: string
          enum: [presentation, workshop, course]
    TrainingSession:
      allOf:
        - $ref: '#/components/schemas/NewTrainingSession'
        - type: object
          required:
            - _id
          properties:
            _id:
              type: string
    TrainingSessions:
      type: array
      items:
        $ref: '#/components/schemas/TrainingSession'
    ValidationError:
      type: object
      properties:
        status:
          type: integer
          minimum: 100
          maximum: 600
        invalidAttributes:
          type: object
          additionalProperties:
            type: object
            properties:
              rule:
                type: string
              message:
                type: string
    Error:
      type: object
      required:
        - msg
      properties:
        msg:
          type: string
tags:
  - name: training
    description: Training session operations
