apiVersion: v2
name: codeveros
description: An umbrella chart for Codeveros
type: application
version: 0.3.0
appVersion: 1.0.0
home: https://coveros.com
maintainers:
  - name: justin-coveros
    email: justin.hollingsworth@coveros.com
dependencies:
  - name: codeveros-user-service
    version: 0.5.0
    repository: https://coveros.github.io/codeveros
  - name: codeveros-training-service
    version: 0.5.0
    repository: https://coveros.github.io/codeveros
  - name: codeveros-auth-service
    version: 0.5.0
    repository: https://coveros.github.io/codeveros
  - name: codeveros-gateway
    version: 0.5.0
    repository: https://coveros.github.io/codeveros
  - name: codeveros-ui
    version: 0.7.0
    repository: https://coveros.github.io/codeveros
  - name: nginx
    version: 8.5.3
    repository: https://charts.bitnami.com/bitnami
    condition: nginx.enabled
