<form [formGroup]="dialogForm" novalidate (ngSubmit)="onSubmit()" class="mat-typography">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" id="training-name" required />
        @if (dialogForm.hasError('required', 'name')) {
          <mat-error> This is required </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
          formControlName="description"
          id="training-description"
          required
        ></textarea>
      </mat-form-field>
      <div class="form-row">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required id="training-type">
            @for (option of typeOptions; track option) {
              <mat-option [value]="option.value" [id]="option.id">{{ option.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Duration (# of Days)</mat-label>
          <mat-select formControlName="duration" required id="training-duration">
            @for (option of durationOptions; track option) {
              <mat-option [value]="option.value" [id]="option.id">{{ option.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close id="training-cancel-button">Cancel</button>
    <button mat-button type="submit" [disabled]="isSaving || dialogForm.invalid" id="training-save-button">Save</button>
  </mat-dialog-actions>
</form>
